# ACCEPT_LICENSE: Accept all licenses
ACCEPT_LICENSE="*"

# EMERGE_DEFAULT_OPTS: Set the preferred package manager
EMERGE_DEFAULT_OPTS="--ask"

# Use the recommended compiler optimizations
USE=" kde qt5 -gnome -gtk"

# VIDEO_CARDS: Enable GPU virtualization support
VIDEO_CARDS="amdgpu"

# L10N: Set the system locale
L10N="en en-US"

# MAKEOPTS: Enable parallel compilation with 14 jobs
MAKEOPTS="-j14"
